.maskedWrapper {
    position: absolute;
    width: fit-content;
    p {
        // mask-image: url('/mask.svg');
        background: #ec4e39;
        color: black;
        mask-repeat: no-repeat;
        position: relative;
        mask-size: 1px;
        line-height: 120%;
        padding: 10px 20px;
        border-radius: 10%;
        z-index: 200;
        opacity: 0;

        // mask-image: radial-gradient(circle, white 50%, transparent 60%);
        // mask-size: 150px;
        // -webkit-mask-image: radial-gradient(circle, white 50%, transparent 60%);
        // mask-image: radial-gradient(circle, white 50%, transparent 60%);
        // -webkit-mask-repeat: no-repeat;
        transition: -webkit-mask-size 0.5s ease, mask-size 0.5s ease;
    }
    p:hover {
        opacity: 1;
        mask-image: radial-gradient(circle, white 50%, transparent 60%);
        mask-size: 350px;
        -webkit-mask-image: radial-gradient(circle, white 50%, transparent 60%);
        mask-image: radial-gradient(circle, white 50%, transparent 60%);
        -webkit-mask-repeat: no-repeat;
        mask-size: 350px;
    }

    // Add media query for mobile view
    // @media (max-width: 768px) {
    //     p {
    //         font-size: 10vw; // Adjust font size for mobile
    //         line-height: 100%;
    //         text-align: center;

    //         &:nth-of-type(2) {
    //         }
    //     }
    // }
}
